@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* header */
.container {
    max-width: 1340px;
    margin: 0 auto;
}


.header {
    background: #ffff;
    display: flex;
    text-align: center;
    align-items: center;

    margin: 0 auto;
    justify-content: space-between;

}

.header ul {
    display: flex;
    align-items: center;
    font-family: 'inter';
    color: #717171;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
}

.header li {
    margin: 0 25px;
    padding-bottom: 15px;
    margin-top: 25px;
    display: inline;
   
}

.header a {
    text-decoration: none;
    color: #263238;
    transition: 0.7s ease;
}

.header a:hover {
    color: #4CAF4F;
}

.header-menu button {
    margin-right: 40px;
    cursor: pointer;
}

.logo {
    margin: 15px 0 0 40px;
}

/* Home */
.container-home {
    max-width: 1540px;
    margin: 0 auto;
}

/* hero-container */

.frame1 .text p {
    font-family: 'inter';
    color: #717171;
    font-size: 11.14px;
    font-weight: 500;
    line-height: 16px;
}

.frame1 h1 {
    font-family: 'inter';
    font-weight: 600;
    font-size: 44.5px;
    line-height: 53px;
    color: #4D4D4D;
}

.button {
    background: #4CAF4F;
    border-radius: 5px;
    color: white;
    border: 0px;
    padding: 15px;
    margin-top: 10px;
    cursor: pointer;
}

.green {
    color: #4CAF4F;
}


.hero-section {
    display: flex;
    flex-direction: row-reverse;
    background: #F5F7FA;
    align-items: center;
    margin: 50px;
    padding: 5px;
}

.frame1 {
    width: 30%;
    text-align: end;
    margin-left: 150px;
}

.illustration {
    margin-left: 180px;
}

.illustration img {
    width: 100%;
    height: 100%;
    margin: 10px;
}


.owl-dots {
    position: absolute;
    bottom: 150px;
    left: 40%;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background-color: #4CAF4F !important;
}

.owl-theme .owl-dots .owl-dot:first-child {
    display: none;
}

.owl-theme .owl-dots .owl-dot:nth-child(3) {
    display: none;
}


/* clients */

.clients-container {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'inter';
}

.clients-container img {
    display: block;
    margin: 5rem auto;
    width: 60%
}

.clients-container h2 {
    color: #4D4D4D;
    line-height: 31px;
    font-weight: 600;
    font-size: 25px;
}

.clients-container p {
    font-family: 'inter';
    color: #717171;
    font-weight: 500;
    font-size: 11.14px;
    line-height: 16px;
}

/* community */

.container-community {
    text-align: center;
    margin-bottom: 100px 0;
}

.container-community h2 {
    color: #4D4D4D;
    line-height: 31px;
    font-weight: 600;
    font-size: 25px;
}

.container-community p {
    font-family: 'inter';
    color: #717171;
    font-weight: 500;
    font-size: 11.14px;
    line-height: 16px;
}

/* body */
body {
    font-family: 'inter';
}

/* Unlock */

.unlock {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;

}

.frame35 img {
    margin-left: auto;


    /* width: 100%; */


}

.frame60 {
    width: 26rem;
    margin-left: 30px;
}

.frame60 h2 {
    color: #4D4D4D;
    line-height: 31px;
    font-weight: 600;
    font-size: 25px;
}

.frame60 p {
    color: #717171;
    font-size: 9.74px;
    font-weight: 500;
    line-height: 14px;
}


/* achievements */

.container-achievements {
    background: #F5F7FA;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.text1 {
    color: #4CAF4F;
}

.section-heading {
    right: 100px;
    margin: 80px 200px 50px 90px;
    color: #263238;
}

.section-heading p {
    line-height: 16.7px;
    font-weight: 500;
    font-size: 12px;
}


.section-heading h2 {
    color: #4D4D4D;
    margin-right: 150px;
    font-size: 26px;
    font-weight: 600;
    line-height: 30px;
}

.Counts {
    margin: 40px;
}

/*  container calender */
.frame5 {
    width: 26rem;

}

.frame5 h2 {
    color: #4D4D4D;
    line-height: 31px;
    font-weight: 600;
    font-size: 25px;
}


.frame5 p {
    /* width: 60px;
    height: 20px; */
    color: #717171;
    font-size: 9.74px;
    font-weight: 500;
    line-height: 14px;
    word-wrap: normal;
}

.container-calender {
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    margin: 30px auto
}


/* customers */

.container-customers {
    /* margin-top: 9px; */
    background: #F5F7FA;
    max-width: fit-content;
    padding: 20px;
    margin: 0 auto;
    word-wrap: normal;
}

.container-customers img {
    margin: 40px;
    padding: 0;
}

.frame11 {
    display: flex;
    /* margin: 50px; */
    justify-content: space-between;

}

.content {
    margin-top: 30px;
}

.content h2 {
    margin: 20px;
    color: #4CAF4F;
}

.content p {
    color: #717171;
    font-weight: 500;
    font-size: 11.74px;
    line-height: 16.7px;
}

.frame11 img {
    width: 50%;
    height: 100%;
}

.frame10 {
    display: flex;
    /* margin: -25px; */

}

.frame10 img {
    height: 50%;
    width: 50%;
}

.aside {
    margin-top: 50px;
    color: #4CAF4F;
    font-weight: 600;
}


/* community update */
.container-update {
    width: 42rem;
    margin: 50px auto;
}

.container-update h2 {
    color: #4D4D4D;
    font-weight: 600;
    text-align: center;
}

.container-update p {
    color: #263238;
    /* margin: 0 90px 0 90px; */
    font-family: 'inter';
    color: #717171;
    font-weight: 500;
    font-size: 11.74px;
    line-height: 16.7px;
}

.container-frame15 {
    max-width: 1340px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    /* margin: 0px 50px 0 100px;
    padding: 0; */

}

.container-frame15 img {
    width: 100%;
    /* height: 100%; */
}



.container-content {
    background: #F5F7FA;
    border-radius: 8px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 50px;
    width: 18rem;
    height: 10rem;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    bottom: 25%;
    left: 9%;

}

/* .frame15 .Readmore {
    row-gap: 4px;
    margin-bottom: 10px;
   
} */

.container-frame15 a {
    text-decoration: none;
    position: absolute;
    color: #4CAF4F;
    bottom: 15px;
    right: 80px;

}

.container-frame15 p {
    color: #717171;
    margin-top: 30px;
    font-weight: 600;
    font-family: 'inter';
    font-size: 13px;
    line-height: 19px;

}

.auto-layout img {
    /* width: 120%; */
    height: 80%;

}

.frame16 button {
    padding-right: 30px;
}

.fa-solid {
    margin-left: 10px;
}

/* footer */

footer {
    background: #263238;
}

.footer {
    font-family: 'inter';
}


.company-info {
    /* margin: 0 10px 0 60px; */
    padding-top: 50px;
    /* margin: 0 80px 0 80px; */
}

.frame16-container {
    background: #F5F7FA;
    margin-top: 4rem;
    margin-bottom: 30px;
}

.frame16 {
    margin-top: 25px;
    color: #263238;
    font-family: 'inter';
    text-align: center;
    font-size: 34.5px;
    line-height: 62.9px;

}

h2.text2 {
    top: 20px;
    color: #263238;
    position: relative;
    font-family: 'inter';
    font-weight: 600;
   
}

.frame16 h2 {
    margin-top: 20px;
   
}

.frame16 button {
    margin-top: 3rem;
    margin-bottom: 3rem;
   cursor: pointer;
}

.footer .container {
    max-width: 34rem;
    margin: 0 auto;
}

.footer-big {

    color: #F5F7FA;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    padding: 40px;
}

.footer-logo {
    margin-bottom: 20px;
    margin-top: -45px;
}

.copyright p {
    margin: 10px;
}

.social-icons {
    margin: 20px 0;

}

.social-icons a {
    margin: 10px;
}


.flex-container {
    display: contents;
    align-items: center;
    justify-content: space-between;

}


.col1 a {
    display: grid;
    grid-template-columns: 1fr;
    margin: 15px;
    text-decoration: none;
    color: #F5F7FA;
    transition: 0.7s ease;
}

.col1 a:hover {
    color: #4CAF4F;
}

.col2 a {
    display: grid;
    grid-template-columns: 1fr;
    /* flex-direction: column-reverse; */
    margin: 15px;
    text-decoration: none;
    color: #F5F7FA;
    transition: 0.7s ease;
}

.col2 a:hover {
    color: #4CAF4F;
}


.dark-input {
    margin-top: 10px;
    border-radius: 5px;
    border: 0;
    background: #ABBED1;
    width: 200px;
    height: 30px;

}

.fa-regular {
    position: relative;
    right: 18%;

}



/* Tablet and under  */
@media (min-width:1024px) {
    .container-content {
    position: relative;
    bottom: 130px;
    width: 80%;
    }
    .auto-layout img {
        /* width: 120%; */
        height: 80%;
    }
    .frame1 {
        width: 40%;
    }
}



@media (max-width: 868px) {

    /* img {
        display: block;
        max-width: 100%;
    } */
    .owl-carousel .owl-item img {
        display: block;
        width: 150% !important;
    }    

     .frame60 {
        position: relative;
        
        text-align: start;
     }
/* .hero-section {
    margin: 50px auto;
} */
    .container {
        max-width: 840px;
        margin: 0 auto;
    }
    .container-update {
        width: auto;
        margin: 50px 50px;
    }

    .flex-container {
        display: flex;
        display: block;
        flex-wrap: wrap;

    }

    .container-achievements {
        display: flex;
        flex-wrap: wrap;
    }

    .frame60 p {
        word-wrap: normal;
    }

    .frame11 {
        justify-content: space-between;
        flex-wrap: wrap;
    }


    .section-heading h2 {
        margin-right: 0;
        font-size: 23px;
        line-height: 30px;
    }

    .header-menu button {
        margin-right: 17px;
    }

    .clients img {
        width: 100%;
        height: 100px;

    }

    .unlock {
        display: block;
        padding: 5px;
        text-align: center;
        word-wrap: wrap;
    }

    .achievements {
        display: block;
        width: 100%;
        height: 100%;
    }

    .container-frame15 {
        display: flex;
        flex-wrap: wrap;
justify-content: center;
    }

    .header {
        display: flex;
        flex-wrap: wrap;

    }

    .header-menu ul li {
        flex-wrap: wrap;
    }

}

/* For mobile */




@media (max-width:768px) {
    .manu-right {
        height: 110px;
    }
    /* .frame60 {
        margin-left: 0 !important;
    } */


    .header-menu ul {
        padding: 10px;

    }

    .header-menu ul li {
        flex-wrap: wrap;
    }
}

